body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    background: #FAF9F6;
}

.container {
    max-width: 350px;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: #3c4a9ce0 0px 30px 30px -20px;
    margin-left: 90px;
}

.heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: #092F57;
}

.form {
    margin-top: 20px;
}

.form .input {
    width: 90%;
    background: white;
    border: none;
    padding: 15px 15px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #5464c4e0 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}

.form .input::placeholder {
    color: rgb(170, 170, 170);
}

.form .input:focus {
    outline: none;
    border-inline: 2px solid #087388;
}

.form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

.form .forgot-password a {
    font-size: 14px;
    color: #092F57;
    text-decoration: none;
}

.forgot-cadastro {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

.form .forgot-cadastro a {
    font-size: 14px;
    color: #092F57;
    text-decoration: none;
}

.form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, #092F57 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: #3c4a9ce0 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
    transform: scale(1.03);
    box-shadow: #3c4a9ce0 0px 23px 10px -20px;
}

.form .login-button:active {
    transform: scale(0.95);
    box-shadow: #3c4a9ce0 0px 15px 10px -10px;
}

.social-account-container {
    margin-top: 25px;
}

.social-account-container .title {
    display: block;
    text-align: center;
    font-size: 12px;
    color: rgb(170, 170, 170);
}

.social-account-container .social-accounts {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
}

.social-account-container .social-accounts .social-button {
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
    border: 5px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    box-shadow: #3c4a9ce0 0px 12px 10px -8px;
    transition: all 0.2s ease-in-out;
}

.social-account-container .social-accounts .social-button i {
    color: white;
    font-size: 18px;
    line-height: 1;
}

.social-account-container .social-accounts .social-button:hover {
    transform: scale(1.2);
}

.social-account-container .social-accounts .social-button:active {
    transform: scale(0.9);
}

.img-logo {
    width: 60%;
    height: 100vh;
    background-image: url('/imgs/logo-tev.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 65px;
    border-bottom-left-radius: 65px;
    box-shadow: #3c4a9ce0 0px 30px 30px -20px;
}

.img-logo {
    margin-left: 32%;
    
}
@media (max-width: 1850px) {
    body {
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        min-height: 100vh;
        height: auto;
        
    }

    .container {
        margin: 0 auto;
        max-width: 90%;
        width: 70%;
        order: 2;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .img-logo {
        width: 200px;
        height: 200px;
        min-height: auto;
        background-image: url("/imgs/logo-tev.jpeg");
        background-size: contain;
        background-position: center;
        margin: 0 auto 20px auto;
        border-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        order: 1;
        flex: none;
    }

    @media(max-width: 1696px){
    .body{
        justify-content: center;
        }
    }
}

